@model IEnumerable<MyClass.Iliski>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Hayvan1Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hayvan2Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IliskiTuru)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Hayvan1Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hayvan2Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IliskiTuru)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IliskiId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IliskiId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IliskiId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
